@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>


<p>Aplicación desarrollada por :</p>
<h2><p>Arley Banguera Arboleda</p></h2>
<p>Especialista en Procesos Desarrollo</p></h2>

<address>
    <strong>Email:</strong>   banguerley@hotmail.com<br />
    <strong>Celular:</strong> 311 661 33 65
</address>
