
@{
    ViewBag.Title = "Noticias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>NOTICIAS</h1>
    <p class="lead">En ArandaSoft estamos redefiniendo la capa de autenticación para uno de los productos de la compañía, un Sistema Administrador de Contenido (CMS), que hemos construido algunos años atrás. Para esta nueva implementación hemos pensado en utilizar una Arquitectura Orientada a Servicios (SOA) que nos permita realizar una integración que no genere muchos cambios en el CMS y que sea la base para los nuevos proyectos, en cuanto a la capa de autenticación se refiere. Como una aproximación a este cambio Usted debe implementar una prueba de concepto en la plataforma Microsoft .Net, generando una aplicación web que cumpla con los siguientes requerimientos funcionales:.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

